body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main.main {
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;
}

.table{
    border-radius: 15px;
    overflow: hidden;
}